

#HakkimdaArt{
    background-color: wheat;  display: inline-block; width: 98%; border-radius: 7px; display: flex; 
    
}

.container-fluid h2{
     font-weight: 300; color: rgb(71, 32, 9); margin-left: 2%;
    margin-top: 2%;
}
#cguitar{
    width: 80%;
 }
#eguitar{
    width: 40%; ;
}
.guitar{
    width: 80%;

}
#drawing{
    width: 10%; float: right; margin: -5% 40%;
} 
.main span{
      color: rgb(71, 32, 9); margin-left: 2%; 
}

