
#damas{
    text-align: center; 
    font-size: 5vh;
}

.contact-container {
    align-items: center;
    text-align: center;
    height: 100%; /* Use 100% height to fill the parent container */
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center;
}

.container {
    background-color: wheat;
    border-radius: 7px;
    color: rgb(71, 32, 9);
    padding: 20px; /* Add padding to ensure space between content and container edges */
}

.contact-inputs{
    width: 300px;
    height: 200px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

.contact-inputs-text{
    border-radius: 10px;
    outline: none;
    border: none;
    
}
#title{
    margin-top: 30%;
}
.contact-inputs:focus{
    border: 2px solid rgb(71, 32, 9);
}
.contact-inputs-text:focus{
    border: 2px solid rgb(71, 32, 9);
    
}
.contact-center button{
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg,rgb(104, 8, 8),rgb(240, 138, 138));
    

}
